@use 'mixins';
@use 'theme';
@use 'spacing';
@use 'breakpoints' as bp;
:host {
    display: flex;
    flex-flow: wrap;
    margin: 0.5rem;
    overflow: hidden;
    @include mixins.lighten-post-image-on-hover;
    @include spacing.padding-y(1);
    &.newfigure:after {
        top: 0;
        left: 0;
        content: 'New';
        position: absolute;
        background-color: #ff4500;
        padding: 0.5rem;
        text-transform: uppercase;
        color: white;
        @include bp.use-breakpoint('small') {
            width: 8rem;
            height: auto;
        }
        @include bp.use-breakpoint('large') {
            width: 6rem;
            height: auto;
        }
    }
}
a {
    color: theme.get-theme-color('text-primary');
    text-decoration: none;
}
figure {
    width: 100%;
    margin: 0;
    position: relative;
    @include bp.use-breakpoint('small') {
        width: 8rem;
        height: auto;
    }
    @include bp.use-breakpoint('large') {
        width: 6rem;
        height: auto;
    }
    @include bp.use-breakpoint('extra-large') {
        width: 10rem;
        height: auto;
    }
}
img {
    width: 100%;
}
.details {
    width: 100%;

    @include bp.use-breakpoint('small') {
        width: calc(100% - 8rem);
        @include spacing.padding-left(1);
    }
    @include bp.use-breakpoint('large') {
        width: calc(100% - 6rem);
    }
    @include bp.use-breakpoint('extra-large') {
        width: calc(100% - 10rem);
    }
    a {
        text-decoration: none;
    }
    h3 {
        @include mixins.truncate-text;
        @include spacing.margin-y(2);
    }
    span {
        font-size: 0.9rem;
    }
}
