<button class="button-expand" (click)="toggleMenu(!navExpanded)">expandShit</button>
<div class="navbar-items-container-right">
    <app-search-rounded></app-search-rounded>
</div>
<nav class="navbar-items-container-collapsable "
    [className]="{'navbar-items-container-collapsable-expanded': navExpanded}">
    <a class="navbar-item" *ngFor="let item of navItems;" routerLinkActive="active" (click)="toggleMenu(false)"
        [routerLinkActiveOptions]=" {exact: true}" [routerLink]="item.url">{{item.name}}</a>
</nav>
