footer {
    display: flex;
    flex-direction: column;
    background: #000000;
    color: #ffffff;
}

footer .icon {
    width: 18px;
    height: 20px;
}

footer > section {
    padding: 0.5rem 1.8rem;
    position: relative;
}

footer > section.content {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    background-color: rgb(190, 190, 190);
    color: #000000;
}

footer > section.content > * {
    margin: 1rem 0;
}

footer ul {
    padding-left: 1rem;
    list-style-type: disc;
}

footer > section.content .search {
    width: 100%;
    display: flex;
}

footer > section.content .search > a {
    width: 2rem;
    height: 2rem;
    border: 1px solid #000000;
    background-color: #000000;
    padding: 0.2rem;
}

footer > section.content .search > input {
    width: calc(100% - 2rem);
    height: 2rem;
    border: 1px solid #000000;
    background-color: #ffffff;
}

footer > section.bottom-footer {
    display: flex;
    justify-content: space-between;
}

footer > section.bottom-footer .scroll-top {
    position: relative;
    right: 0;
    top: -1.5rem;
    background-color: #000000;
    width: 2rem;
    height: 2rem;
    padding: 0.35rem;
    cursor: pointer;
}

footer .icon {
    margin: 0 auto;
}

footer a {
    color: #000000;
    font-weight: 600;
}

@media only screen and (min-width: 578px) {
    footer > section.content {
        flex-flow: wrap;
    }
    footer > section {
        padding: 0.5rem 5rem;
    }
}

@media only screen and (min-width: 768px) {
    footer > section.content .search {
        width: auto;
    }
    footer > section.content {
        flex-flow: wrap;
        justify-content: space-between;
    }
}
