<footer class="mt-2">
    <section class="content pt-2">
        <div>
            <h3 class="mt-0">Recent Posts</h3>
            <ul>
                <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                <li><a href="javascript:void(0)">Lorem ipsum</a></li>
                <li><a href="javascript:void(0)">Lorem ipsum</a></li>
            </ul>
        </div>
        <div>
            <h3 class="mt-0">Recent Comments</h3>
            <ul>
                <li><a href="javascript:void(0)">Lorem ipsum</a> on <a href="javascript:void(0)">Helo world!</a></li>
                <li><a href="javascript:void(0)">Lorem ipsum</a>on <a href="javascript:void(0)">Helo world!</a></li>
                <li><a href="javascript:void(0)">Lorem ipsum</a>on <a href="javascript:void(0)">Helo world!</a></li>
            </ul>
        </div>
        <div class="search">
            <input type="search" placeholder="Search..." />
            <a href="javascript:void(0)">
                <div class="icon icon-search-light icon-search-hover-accent"></div>
            </a>
        </div>
    </section>
    <section class="bottom-footer">
        <p>
            &copy; Justas Dovydaitis | Completely maintain next-generation collaboration and idea-sharing with.
        </p>
        <a class="scroll-top" (click)="scrollTop()">
            <div class="icon icon-chevron-up-light"></div>
        </a>
    </section>
</footer>
