@use 'theme';
@use 'breakpoints' as bp;
@use 'variables' as vars;
@import '../navbar.scss';

:host {
    @include navbar;
    color: theme.get-theme-color('text-secondary');
    background-color: theme.get-theme-color('background-secondary');
    z-index: map-get(vars.$z-indexes, 'sticky');
    top: 0;
    position: sticky;

    @include bp.use-breakpoint('medium') {
        flex-flow: row;
    }
}
.navbar-items-container {
    display: flex;

    @include bp.use-breakpoint('medium') {
        width: auto;
    }
    &.socials-nav {
        flex-flow: wrap;
        margin-left: auto;
        justify-content: space-around;
        @include bp.use-breakpoint('small') {
            flex-flow: row;
        }
        @include bp.use-breakpoint('large') {
            justify-content: flex-start;
        }
    }

    &.internal-nav {
        border-bottom: 1px solid theme.get-theme-color('background-accent');
        flex-flow: row;
        justify-content: space-between;

        @include bp.use-breakpoint('medium') {
            border-bottom: none;
        }
    }
}
.navbar-item {
    color: theme.get-theme-color('text-secondary');
    margin: 0.5rem 0.5rem;
}

.date {
    background-color: theme.get-theme-color('background-accent');
    padding: 0 0.5rem;

    @include bp.use-breakpoint('medium') {
        // width: 100%;
        text-align: center;
        display: block;
    }
}
