<nav class='navbar-items-container internal-nav'>
    <a *ngFor="let item of navLinksInternal;" class="navbar-item" routerLink="/{{item.to}}">
        {{item.name}}
    </a>
</nav>
<div class='navbar-items-container socials-nav'>
    <a *ngFor="let item of navLinksExternal;" class="navbar-item" href="{{item.to}}:void(0);">
        <div title="{{item.icon}}" class="icon icon-{{item.icon}}-light icon-{{item.icon}}-hover-accent"></div>
    </a>
    <time class="navbar-item bg-accent date">
        {{currentDate | date:'fullDate'}}
    </time>
</div>
