<div class="navbar navbar-primary">
  <nav class='navbar-items-block'>
    <a class="navbar-item" href="javascript:void(0);">
      Blog
    </a>
    <a class="navbar-item" href="javascript:void(0);">
      Latest
    </a>
    <a class="navbar-item" href="./life">
      Life
    </a>
    <a class="navbar-item" href="javascript:void(0);">
      Travel
    </a>
    <a class="navbar-item" href="javascript:void(0);">
      Fashion
    </a>
  </nav>
  <div class='navbar-items-block navbar-items-block-push-left'>
    <a class="navbar-item" href="javascript:void(0);">
      <div title="facebook" class="icon icon-facebook-light icon-facebook-hover-accent"></div>
    </a>
    <a class="navbar-item" href="javascript:void(0);">
      <div title="twitter" class="icon icon-twitter-light icon-twitter-hover-accent"></div>
    </a>
    <a class="navbar-item" href="javascript:void(0);">
      <div title="pinterest" class="icon icon-pinterest-light icon-pinterest-hover-accent"></div>
    </a>
    <a class="navbar-item" href="javascript:void(0);">
      <div title="youtube" class="icon icon-youtube-light icon-youtube-hover-accent"></div>
    </a>
    <time class="navbar-item bg-accent date">
      Monday 1st September 2019
    </time>
  </div>
</div>
