<a [routerLink]="['/edit-post/', post._id]">
    <figure>
        <img src="{{post.imageUrl}}" alt="{{post.imageAlt}}" title="{{post.imageTitle}}" />
    </figure>
</a>
<article class="details">
    <div class="tags">
        <a *ngFor="let category of post.categories" routerLink="/{{category.name.toLowerCase()}}">{{category.name}}</a>
    </div>
    <a [routerLink]="['/edit-post/', post._id]">
        <h3 title="{{post.title}}">{{post.title}}</h3>
    </a>
    <p>{{post.content}} </p>
</article>
