<a href="javascript:void(0)">
    <figure>
        <img src="https://via.placeholder.com/300/444444?text=News+Magazine" alt="image placeholder"
            title="placeholder" />
    </figure>
</a>
<article class="details">
    <div class="tags">
        <a href="javascript:void(0)">Fashion</a>
        <a href="javascript:void(0)">Design </a>
        <a href="javascript:void(0)">Latest</a>
    </div>
    <a href="javascript:void(0)">
        <h3 title="Lorem ipsum dolor sit">Phosfluorescently provide access to scalable solutions after tactical
            outsourcing.</h3>
    </a>
    <p>Objectively optimize impactful platforms and scalable web-readiness. Interactively transition high standards
        in catalysts for change after premier ideas. Quickly fashion sustainable initiatives whereas customer
        directed paradigms.
        Monotonectally redefine extensible customer service and web-enabled users. Dynamically drive leveraged
        processes without next-generation sources. Quickly pursue highly efficient materials through equity invested
        information.
        Rapidiously deploy diverse deliverables whereas focused paradigms. Interactively provide access to unique
        sources after end-to-end value. Appropriately mesh client-focused functionalities rather than plug-and-play
        experiences.
        Energistically redefine fully tested portals through visionary schemas. Holisticly expedite leveraged
        web-readiness for leveraged markets. Competently actualize client-focused sources rather than top-line
        paradigms. Globally
        embrace quality processes and premier best practices. Assertively fashion cutting-edge functionalities
        through B2C products. Monotonectally incubate goal-oriented ideas and end-to-end methodologies.
        Phosfluorescently enable
        flexible niche markets with goal-oriented portals. Collaboratively supply client-focused testing procedures
        and interoperable applications. Rapidiously fabricate alternative niches whereas adaptive e-commerce.
        Seamlessly.
    </p>
</article>
