<figure>
    <img src="https://via.placeholder.com/300/444444?text=News+Magazine" alt="image placeholder" title="placeholder" />
</figure>
<div class="details">
    <div class="tags">
        <a href="javascript:void(0)">
            Life
        </a>
        <a href="javascript:void(0)">
            Travel
        </a>
    </div>
    <a href="javascript:void(0)">
        <h3 title="Conveniently formulate enterprise initiatives for multidisciplinary innovation.">Conveniently
            formulate enterprise initiatives for multidisciplinary innovation.</h3>
    </a>
    <span>1 month ago</span>
</div>
